# Quartus
*.qws
*.bak
*.rpt
*.summary
*.done
*.jdi
*.pin
*.sof
*.pof
db/
incremental_db/
output_files/*.sof
output_files/*.pof

# ModelSim/Questa
work/
*.wlf
*.vstf
transcript
*.vcd
*.log

# Temporales
*.tmp
*~
*.swp
.DS_Store
/fpga/simulation/modelsim
*.rpt
/fpga/output_files
/fpga/output_files
/fpga/db
db/.cnf.cdb
db/.slddb
parallel_fpga.*.cnf.cdb
fpga/db/parallel_fpga.quiproj.2872.rdr.flock
fpga/db/parallel_fpga.quiproj.2872.rdr.flock.lck


/fpga/simulation/modelsim
fpga/simulation/modelsim/dsa_top_tb.vcd
fpga/simulation/modelsim/vsim.wlf
*.wlf
